* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.button {
  background-color: #e8d2d2;
  border: none;
  color: #736d6c;
  border-radius: 4px;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

html,
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.input {
  border: 2px solid #e8d2d2;
  background-color: #fff;
  color: #827b7b;
  border-radius: 3px;
  height: 2rem;
  padding: 0 0.5rem;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
}

.header {
  align-items: center;
  border-bottom: #e8d2d2 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  margin: 0;
}

.logo__img {
  display: block;
  width: 5rem;
}

.logo__title {
  color: #827b7b;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.cart {
  display: flex;
  justify-content: center;
  width: 5rem;
}

.cart__button {
  border: none;
  background-color: transparent;
  background-image: url(../assets/images/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: transparent;
  height: 2rem;
  width: 2rem;
  opacity: 1;
  outline: none;
  position: relative;
  transition: opacity 150ms ease-in;
}

.cart__button::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #b2afa0;
  font-size: 0.625rem;
  content: attr(data-cart-amount);
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  width: 1rem;
  height: 1rem;
  line-height: 1;
}

.cart__button:focus,
.cart__button:hover {
  opacity: 0.7;
}

.cart__button::selection {
  color: transparent;
}

.filters {
  display: grid;
  grid-template-columns: 2fr minmax(50px, 1fr) minmax(50px, 1fr);
  grid-gap: 1rem; /*espacamento entre elementos */
  margin: 1rem 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0 1rem;
}

.card {
  border: 1px solid #f9f2f2;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__info {
  background-color: #f9f2f2;
  padding: 0.5rem 1rem 1rem;
}

.card__info__text {
  color: #ae4536;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 0.25rem 0 0.75rem;
}

.display--block {
  display: block;
}

.font-size--1 {
  font-size: 1rem;
}
